<app-header></app-header>

<main class="container-xl mt-5">
  <h2 class="text-center">{{entrada.title}}</h2>

  <div class="row justify-content-center mt-5">
    <div class="col-md-7">
      <img class="img-fluid" [src]="entrada.image" alt="entrada">
      <p class="text-primary mt-3">{{entrada.date | date }}</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aperiam tenetur eum magnam dolor tempore reprehenderit quo obcaecati suscipit dolore.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore cum ea, nostrum, eos dicta porro sit eaque quis molestias animi at, aliquid quibusdam! Voluptas deserunt rerum laboriosam cupiditate! Dolores deleniti ratione autem officia, labore reiciendis nesciunt incidunt odit quibusdam eius neque modi impedit itaque eveniet eos facere quidem architecto quisquam.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus sit nesciunt incidunt voluptatibus, ipsam delectus dolores aspernatur autem itaque exercitationem quia, enim pariatur, tempora numquam natus repellat! Accusamus, fuga sequi!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, maiores.</p>
    </div>
  </div>
</main>
