<app-header></app-header>

<main class="container-xl mt-5">
  <h2 class="text-center">Nosotros</h2>
  <div class="row mt-5">
    <div class="col-md-6">
      <img class="img-fluid" src="../assets/img/nosotros.jpg" alt="nosotros">
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
      <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam eligendi voluptatum nihil quo expedita reprehenderit corporis sed dolores. Neque sunt possimus suscipit voluptates in ea inventore ducimus adipisci, voluptas culpa accusamus nisi error earum ipsam cupiditate quo veritatis perspiciatis iste sequi officia consequuntur ad iure. Eaque tempora non placeat eum!</p>
      <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur aut sequi, obcaecati quasi quis sunt deserunt aperiam ea nostrum praesentium numquam sed delectus consequatur nam itaque quibusdam? Distinctio eveniet ipsa modi aperiam, iusto amet?</p>
    </div>
  </div>
</main>
