.courses {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: linear-gradient(
    to right, rgb( 0 0 0 / .7), rgb( 0 0 0 / .7)),
    url('/assets/img/cursos_bg.jpg');
  background-position: 50%;
  background-size: cover;
}
