/* You can add global styles to this file, and also import other style files */
// Importar Bootstrap
// $primary: #900;

$negro: #262626;
$blanco: #FFF;
$naranja: #e99401;

$primary: $naranja;
$white: $blanco;
$dark: $negro;

$fuente-headings: 'Outfit', sans-serif;
$fuente-textos: 'Outfit', sans-serif;

$font-family-base: $fuente-textos;
$headings-font-family: $fuente-headings;

$headings-font-weight: 900;
$h1-font-size: 4.4rem;
$h2-font-size: 3.6rem;
$h3-font-size: 2.6rem;

$headings-color: $primary;

// Buttons
$btn-font-weight: 900;
$btn-border-radius: 0;

// Links
$link-color: $white;
$link-decoration: none;
$link-hover-color: $white;

// Cards
$card-border-radius: 0;
$card-border-width: 0;

@use '../src/assets/scss/animations' as *;
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.background-guitar {
  background-image: linear-gradient(
    to right, rgb( 0 0 0 / .7), rgb( 0 0 0 / .7)),
    url('assets/img/header.jpg');
  background-position: 50%;
  background-size: cover;
}

.fw-black {
  font-weight: 900;
}

.navigate{
  position: relative;
  z-index: 1;
}
.navigate:hover{
  background-color: $primary !important;
}

.header-guitar{
  display: none;

  @include media-breakpoint-up(lg){
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;

    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-name: animateImage;
  }
}
