<footer class="bg-dark mt-5 py-5">
  <div class="container-xl">
    <div class="d-md-flex justify-content-between">
      <nav class="d-flex flex-column flex-md-row align-items-center">
        <a class="text-white fs-4 me-md-2" routerLink="/">Inicio</a>
        <a class="text-white fs-4 me-md-2" routerLink="/about">Nosotros</a>
        <a class="text-white fs-4 me-md-2" routerLink="/blog">Blog</a>
        <a class="text-white fs-4 me-md-2" routerLink="/shop">Tienda</a>
      </nav>
      <p class="text-white text-center fs-4 mt-4 m-md-0">Todos los Derechos Reservados</p>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-6 col-md-3">
        <a routerLink="/home">
          <img class="img-fluid" src="./assets/img/logo.svg" alt="logo">
        </a>
      </div>
    </div>
  </div>
</footer>
